USE [master]
GO
/****** Object:  Database [PRSC_Auction_DB]    Script Date: 4/11/2026 3:05:09 PM ******/
CREATE DATABASE [PRSC_Auction_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRSC_Auction_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PRSC_Auction_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRSC_Auction_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PRSC_Auction_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRSC_Auction_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRSC_Auction_DB]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 4/11/2026 3:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[BasePrice] [decimal](18, 2) NOT NULL,
	[VideoPath] [nvarchar](max) NULL,
	[IsSold] [bit] NOT NULL,
	[Position] [nvarchar](60) NOT NULL,
	[SkillLevel] [nvarchar](20) NOT NULL,
	[SoldPrice] [decimal](18, 2) NOT NULL,
	[AssignedTeam] [nvarchar](60) NOT NULL,
 CONSTRAINT [PK_Players] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 4/11/2026 3:05:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[SettingName] [nvarchar](50) NOT NULL,
	[SettingValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_Settings] PRIMARY KEY CLUSTERED 
(
	[SettingName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ('') FOR [Position]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ('Medium') FOR [SkillLevel]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((0)) FOR [SoldPrice]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT (N'—') FOR [AssignedTeam]
GO
USE [master]
GO
